.dsr {
  .dsr-body {
    padding: 20px;
    .dsr-info {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-size: 20px;
    }
    .dsr-card {
      display: flex;
      gap: 40px;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
    .get-dsr {
      margin-top: 10px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      font-size: 20px;
      .dsr-download {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        text-transform: capitalize;
        border: none;
        outline: none;
        padding: 7px 10px 4px;
        font-size: 19px;
        background-color: var(--primary);
        border-radius: 5px;
        margin-top: 10px;
        color: var(--secondary);
        cursor: pointer;
        transition: 0.3s;
        span{
          margin-top: 2px;
        }
        &:hover {
          transform: scale(1.1);
        }
        &:active {
          transform: scale(1);
          box-shadow: 0 0 20px var(--primary);
        }
      }
    }
  }
}
