.from-to {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  text-transform: capitalize;
    flex-wrap: wrap;
  input {
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
  }
}

.data-count {
  background-color: rgba(27, 68, 104, 0.763);
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .data-box {
    background-color: blueviolet;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
}

.state{
  background-color: rgb(205, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: 900;
  font-size: 30px;
  padding: 5px;
}
.dis{
  display: flex;
  flex-direction: column;
}